POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=django_stripe
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

APP_URL=http://localhost:8000
BACKEND_PORT=8000

STRIPE_SECRET_KEY=sk_test_*****
STRIPE_PUBLIC_KEY=pk_test_*****