{% extends "base.html" %}
{% load static %}

{% block title %}
	Айтем(Item) - item.name
{% endblock %}

{% block js-libs %}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{% static 'item/style.css' %}">
{% endblock %}

{% block content %}
	<div class="item-wrapper">
		<h1>{{ item.name }}</h1>
		<p>Description: {{ item.description }}</p>
		<p>Price: <span class="price"> {{ item.price }} </span> </p>
		<button id="buyButton">Buy</button>
	</div>
	<script type="text/javascript">
		const stripe = Stripe('{{ stripe_public_key }}')

		document.getElementById('buyButton').addEventListener('click', async () => {
			const response = await fetch('{% url 'buy-item' item.id %}')
			const data = await response.json()
			if (data?.sessionId) {
				stripe.redirectToCheckout({
					sessionId: data.sessionId,
				})
			}
		})
	</script>
{% endblock %}